 /* 1...for em drawback */
/* 
section{
    font-size:15px;
}

div{
     font-size:2em; 
} 
  */



  /* for immplementation of rem */

section{
    font-size:15px;
}


 
div{
     /* font-size:2rem;  */
     font-size: .5rem;;
}