h1{
    text-align:center;
    font-size: Georgia;
}

h3{
    text-align:center;
      font-size: Georgia;
}

h4{
    text-align:center;
      font-size: Georgia;
}

p{
   color:  #A52A2A;
     font-size: Georgia;
}


